header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  header {
    position: static;
  }
}
.alba-phone {
  font-size: 18px;
}
.openMain {
}
.scroll-info {
  height: 100vh;
}
@media (max-width: 992px) {
  .scroll-info {
    flex-direction: column-reverse;
    height: 150vh;
  }
}
.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 60%;
}
@media (max-width: 992px) {
  .scroll {
    width: 100%;
  }
}
.scroll::-webkit-scrollbar {
  display: none;
}

.bgi1 {
  background: url("../img/img1.png") center/cover;
}
.bgi2 {
  background: url("../img/img2.png") center/cover;
}
.bgi3 {
  background: url("../img/img3.png") center/cover;
}
.bgi4 {
  background: url("../img/img4.png") center/cover;
}
.bgi5 {
  background: url("../img/img5.png") center/cover;
}
.bgi6 {
  background: url("../img/img6.png") center/cover;
}
.bgi7 {
  background: url("../img/img7.png") center/cover;
}
.bgi8 {
  background: url("../img/img8.png") center/cover;
}
.bgi1,
.bgi2,
.bgi3,
.bgi4,
.bgi5,
.bgi6,
.bgi7,
.bgi8 {
  min-height: 500px;
  margin-bottom: 10px;
}
.bgi8 {
  margin: 0;
}

.infoScroll {
  width: 40%;
}
.infoScroll-all {
  width: 41%;
}
@media (max-width: 1199px) {
  .infoScroll-all {
    width: 65%;
  }
}
@media (max-width: 992px) {
  .infoScroll {
    width: 100%;
    min-height: 45vh;
  }
  .infoScroll-all {
    align-items: center;
  }
}
.infoScroll-header {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  text-transform: uppercase;
}
.infoScroll-text {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin: 10px 0 20px;
  font-weight: bold;
}
.infoScroll-btn {
  width: 240px;
  padding: 20px 50px;
  border: 1px solid;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0.35em;
}
.infoScroll-btn:hover,
.infoScroll-btn:focus,
.infoScroll-btn:active {
  background-color: #ffc000;
}

.scroll-nav {
  height: 12em;
  justify-content: space-around;
}
.scroll-nav > a {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.scroll-nav > a:hover {
  text-decoration: underline;
}
.other-btn {
  padding: 15px 30px;
}
@media (max-width: 575px) {
  .scroll-nav {
    flex-direction: column-reverse;
    height: 15em;
    justify-content: center;
  }
  .scroll-nav > a {
    margin: 4%;
  }
}
